body {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* Main */


.header-logo {
  width: 150px;
  height: 80px;
}
.main-title {
  margin-top: 5%;
}
.title {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 120px;
  color: #24c0eb;
}
.description {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #24c0eb;
}
.container-fluid {
  height: 70px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-text {
  width: 400px;
  height: 60px;
  border-radius: 2em;
}
.search-button {
  border: 0;
  margin-bottom: 20px;
  background-color: rgba(28, 28, 28, 0);
}
.modal-window-wrapper {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.input-file {
  margin-bottom: 20px;
}
.description-file {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 13px;
}
.description-name {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 13px;
}
.modal-download-file {
  margin-bottom: 10px;
}
.modal-text {
  margin-bottom: 10px;
}
.textarea-text{
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 13px;
}


/* FOOTER */



/* TAGS */

.tags-header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
}
.table{
  background-color: #24c0eb;
  font-weight: 300;
  font-size: 20px;

}

/* POST */

.posts-header{
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
}

#content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5%;
  border:  10px solid #24c0eb;
}
.img-wrapper{
  margin: 5px;
  width: 300px;
  transition: 0.5s;
  border-radius: 10%;
}
.img-wrapper:hover{
  transform: scale(1.2);
}

/* Header */
.alert-img{
  width: 20px;
}
.alert-list{
  text-align: center;
}
.btn dropdown-toggle{
  display: flex;
  flex-wrap: wrap;
}