body {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* Main styles start*/

.header-logo {
  width: 150px;
  height: 60px;
}
.header-logo:hover{
  background: rgba(0,0,0,0.2)
}
.title {
  display: block;
  padding-top:30px;
  text-align: center;
  font-weight: 400;
  font-size: 130px;
  color: #24c0eb;
}
.main-description {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  color: #24c0eb;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.precis-girl-wrapper{
margin-bottom: 20px;
}
.precis-girl-img{
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.search-text {
  min-width: 400px;
  height: 60px;
  border-radius: 2em;
}
#download-button{
  width: 200px;
}
.search-button {
  border: 0;
  margin-bottom: 10px;
  background-color: rgba(28, 28, 28, 0);
}
.modal-window-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-file {
  margin-bottom: 20px;
}
.description-file {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 13px;
}
.description-name {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 13px;
}
.modal-download-file {
  margin-bottom: 10px;
}
.modal-text {
  margin-bottom: 10px;
}
.textarea-text{
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 13px;
}

/* Main styles end */


/* Tags page styles start */

.tags-header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
}
.table{
  background-color: #24c0eb;
  font-weight: 300;
  font-size: 20px;

}

/* POST */

.posts-header{
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
}

#content{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
  border: 6px solid #24c0eb;
  background-color: #acedff;
}
.img-wrapper{
  margin: 5px;
  width: 300px;
  transition: 0.5s;
  border-radius: 10%;
}
.img-wrapper:hover{
  transform: scale(1.2);
}
/* Text page styles end */

